{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{% static 'darkmode/dark_task.css' %}">
  <style>
    label {
      display: inline-block;
      width: 200px;
      margin-bottom: 10px;
    }

    input[type="password"] {
      display: inline-block;
      width: 300px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
  </style>
</head>

<body>
  <div id="user">
    {{user.username}}
  </div>


  <div id="dashboard" class="blur">
    {% include 'darkmode/darkboard.html' %}
  </div>
  <form method="post" style = "color: #fff">
    {% if messages %}
  {% for message in messages %}
  <p>{{message}}</p>
  {% endfor %}
  {% endif %}
    <a href="{% url 'update_profile2' %}"><img width="30px" src="{% static 'tasks/arrow-left.svg' %}"></a>
    {% csrf_token %}
    <h1>{{user.first_name}}'s profile🙂</h1>
    <label for="old_password">Current Password:</label>
    <input type="password" name="old_password" class="form-control" required>
    <br>
    <label for="new_password1">New Password:</label>
    <input type="password" name="new_password1" class="form-control" required>
    <br>
    <label for="new_password2">Confirm New Password:</label>
    <input type="password" name="new_password2" class="form-control" required>
    <br>
    <button id="addTaskBtn" type="submit"
      style="position: fixed; top: 10px; right: 10px; z-index: 9999; height: 50px;">save</button>
  </form>

</body>

</html>