{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{% static 'darkmode/dark_task.css' %}">
</head>

<body>
  <div id="user">
    {{user.username}}
  </div>  

  <div id="dashboard" class="blur">
    {% include 'darkmode/darkboard.html' %}
  </div>
  <form style = "color: #fff" >
    {% if messages %} {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %} {% endif %}
    <a href="{% url 'darkboard' %}"><img width="50px" src="{% static 'tasks/arrow-left.svg' %}"></a>
    <h1>{{user.first_name}}'s profile🙂 </h1>
    <label for="name">First Name: </label>
    <input type="text" id="my-textbox" style="background-color: #fff;font-style: italic;color: #999;" disabled
      placeholder="{{ user.first_name }}">
    <hr>
    <label for="description">Last Name: </label>
    <input type="text" id="my-textbox" style="background-color: #fff;font-style: italic;color: #362e2e;" disabled
      placeholder="{{ user.last_name }}">
    <hr>
    <br>
    <label for="description">UserName: </label>
    <input type="text" id="my-textbox" style="background-color: #fff;font-style: italic;color: #999;" disabled
      placeholder="{{ user.username }}">
    <hr>
    <br>
    <label for="description">E-mail: </label>
    <input type="text" id="my-textbox" style="background-color: #fff;font-style: italic;color: #999;" disabled
      placeholder="{{ user.email }}">

    <a href="{% url 'update_profile2' %}">
      <button id="addTaskBtn" type="button"
        style="position: fixed; top: 10px; right: 10px; z-index: 9999; height: 50px;">Edit</button>
    </a>
  </form>

</body>

</html>