{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'darkmode/dark_task.css' %}" />
  </head>

  <body>
    <div id="user">{{user.username}}</div>

    <div id="dashboard" class="blur">{% include 'darkmode/darkboard.html' %}</div>
    
    <form method="post" action="{% url 'update_profile' %}" style = "color: #fff; " >
    
  
      <a href="{% url 'darkboard' %}"
        ><img width="30px" src="{% static 'tasks/arrow-left.svg' %}"
      /></a>

      {% csrf_token %}
      <h1>{{user.first_name}}'s profile🙂</h1>
      <label for="first_name">First Name: </label>
      <input
        type="text"
        id="my-textbox"
        style="background-color: #fff; font-style: italic; color: #999"
        name="first_name"
        value="{{ user.first_name }}"
      />
      <hr />
      <label for="last_name">Last Name: </label>
      <input
        type="text"
        id="my-textbox"
        style="background-color: #fff; font-style: italic; color: #999"
        name="last_name"
        value="{{ user.last_name }}"
      />
      <hr />
      <label for="email">Email: </label>
      <input
        type="text"
        id="my-textbox"
        style="background-color: #fff; font-style: italic; color: #999"
        name="email"
        value="{{ user.email }}"
      />
      <hr />
      <label for="username">UserName: </label>
      <input
        type="text"
        id="my-textbox"
        style="background-color: #fff; font-style: italic; color: #999"
        name="username"
        value="{{ user.username }}"
      />
      <hr />
      <br />
      <a
        href="{% url 'change_password2' %}"
        style="text-decoration: none; font-style: italic; font-size: small"
        >change password..</a
      >

      <button
        id="addTaskBtn"
        type="submit"
        style="
          position: fixed;
          top: 10px;
          right: 10px;
          z-index: 9999;
          height: 50px;
        "
      >
        save
      </button>
    </form>
  </body>
</html>
